/* to make hidden scrollbar */
.taskgroup {
    -ms-overflow-style: none;  
    scrollbar-width: none;
    overflow-y: auto;

    min-height: 500;
}

.taskgroup::-webkit-scrollbar{
    display: none;
}