.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.mainpage{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar{
  display: flex;
  flex-direction: row;
  justify-content: space-between !important;
  padding: 0px 20px !important;
  width: 100%;
  position: fixed !important;
  top:0;
  z-index: 1;
  font-size: large;
}

.navbar-brand{
  color: #03A6FF !important;
  font-size: x-large !important;
}

.navbar-text{
  cursor: pointer;
  text-decoration: underline;
}